<form action="#" method="get">

    <fieldset>

        {{> 'login/form/headerText'}}
        {{> 'login/form/components/inputLogin' }}
        {{> 'login/form/components/validationLogin' }}

        {{> 'login/form/components/inputPassword' }}
        {{> 'login/form/components/validationPassword' }}

        {{> 'login/form/components/linkForgotPassword' }}

        {{> 'login/form/components/buttonSubmit' }}

    </fieldset>

</form>