<form action="#" method="get">

    <fieldset>

        {{> 'registration/form/headerText'}}
        
        {{> 'registration/form/components/inputEmail' }}
        {{> 'registration/form/components/validationEmail' }}
        
        {{> 'registration/form/components/inputLogin' }}
        {{> 'registration/form/components/validationLogin' }}
        
        {{> 'registration/form/components/inputFirstName' }}
        {{> 'registration/form/components/inputSecondName' }}
        
        {{> 'registration/form/components/inputPhone' }}
        {{> 'registration/form/components/validationPhone' }}
        
        {{> 'registration/form/components/inputPassword' }}
        {{> 'registration/form/components/inputConfurmPassword' }}
        {{> 'registration/form/components/validationPassword' }}

        {{> 'registration/form/components/buttonSubmit' }}

    </fieldset>

</form>