<form action="#" method="get">

    <div class="profile">

        {{> 'profile/form/imageAvatar'}}

        {{> 'profile/form/headerUserName'}}
        
        {{> 'profile/form/components/email' }}
        
        {{> 'profile/form/components/login' }}

        {{> 'profile/form/components/secondName' }}

        {{> 'profile/form/components/firstName' }}
  
        {{> 'profile/form/components/phone' }}

        <br>

        {{> 'profile/form/components/changeDate' }}      
        {{> 'profile/form/components/changePassword' }}  
        {{> 'profile/form/components/exit' }} 


    </div>

</form>