<form action="#" method="get">

    <div class="profile">

        {{> 'profile/form/imageAvatar'}}

        {{> 'profile/form/headerUserName'}}
        
        {{> 'profile/form/components/Email' }}
        
        {{> 'profile/form/components/Login' }}

        {{> 'profile/form/components/SecondName' }}

        {{> 'profile/form/components/FirstName' }}
  
        {{> 'profile/form/components/Phone' }}


    </div>

</form>