/* ---------- FONTAWESOME ---------- */
/* ---------- https://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

@import url(https://weloveiconfonts.com/api/?family=fontawesome);

/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- https://meyerweb.com/eric/tools/css/reset/ ---------- */

/*@import url(https://meyerweb.com/eric/tools/css/reset/reset.css);*/

/* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

body {
  background: #fff;
  color: #5a5656;
  display: grid;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  place-items: center;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1em;
}

h1,
p {
  margin-bottom: 0px;
}

strong {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

/* ---------- LOGIN ---------- */

#login {
  margin: 50px auto;
  width: 320px;
}

#registration {
  margin: 50px auto;
  width: 320px;
}

#profile {
  margin: 50px auto;
  width: 500px;
}

#page404 {
  margin: 50px auto;
  width: 200px;
}

.welcome_text {
  text-align: center;
}

.avatar {
  text-align: center;
}



form {
  fieldset {
    border-color: #fff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    background-color: rgba(255, 255, 255, 1);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 0;
    margin: -2px;



    input[type="text"],
    input[type="password"] {
      color: rgba(30, 30, 30, 1);
      font-family: Inter;
      text-align: left;
      font-size: 13px;
      letter-spacing: 0;
      appearance: none;
      border-color: rgba(51, 105, 243, 1);
      border-left: 0;
      border-right: 0;
      border-top: 2px;
      font-size: 14px;
      height: 18px;
      outline: none;
      padding: 0px 10px 5px 10px;
      margin: 10px;
      width: 280px;
    }

    input[type="submit"] {
      background-color: rgba(51, 105, 243, 1);
      border-color: #fff;
      border-radius: 8px;
      color: rgba(255, 255, 255, 1);
      appearance: none;
      cursor: pointer;
      height: 50px;
      text-transform: uppercase;
      width: 300px;
      margin: 10px;
    }

    a {
      color: #5a5656;
      font-size: 10px;
      margin: 10px;
    }

    a:hover {
      text-decoration: underline;
    }

    .validation {
        color:rgba(255, 46, 46, 1);
        text-align:left;
        font-size:8px;
        letter-spacing:0;
        line-height:px;
        padding-left: 20px;
        margin-top: -6px;
    }

    .hidden {
      visibility: hidden;
    }
  }
}

.profile {
  border-color: #fff;
  background-color: rgba(255, 255, 255, 1);
  padding: 0;
  margin: -2px;

  .element_profile{
    display : flex;
    height: 40px;
    border-bottom: 1px solid rgba(234, 234, 234, 1);

  }
  label {
    color: rgba(30, 30, 30, 1);
    text-align: left;
    font-family: Inter;
    letter-spacing: 0;
    appearance: none;
    border: 0;
    font-size: 14px;
    outline: none;
    display: inline-block;
    width: 50%;
  }

  input[type="text"],
  input[type="password"] {
    color: rgba(30, 30, 30, 1);
    text-align: right;
    font-family: Inter;
    letter-spacing: 0;
    appearance: none;
    border: 0;
    font-size: 14px;
    outline: none;
    display: inline-block;
    width: 50%;
 
  }

}


.link_to_login_and_registration {
  color:rgba(51, 105, 243, 1);
  font-family:Inter;
  text-align:center;
  font-size:11px;
  letter-spacing:0;
  line-height:px;
}

.btn-round {
  background: #5a5656;
  border-radius: 50%;
  border-color: #fff;
  color: #f4f4f4;
  display: block;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  margin: 30px calc(50% - 25px);
  text-align: center;
  text-transform: uppercase;
  width: 50px;
}

.facebook-before {
  background: #0064ab;
  border-radius: 3px 0px 0px 3px;
  color: #f4f4f4;
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

.facebook {
  background: #0079ce;
  border: none;
  border-radius: 0px 3px 3px 0px;
  color: #f4f4f4;
  cursor: pointer;
  height: 50px;
  text-transform: uppercase;
  width: 270px;
}

.twitter-before {
  background: #189bcb;
  border-radius: 3px 0px 0px 3px;
  color: #f4f4f4;
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}


.twitter {
  background: #1bb2e9;
  border: none;
  border-radius: 0px 3px 3px 0px;
  color: #f4f4f4;
  cursor: pointer;
  height: 50px;
  text-transform: uppercase;
  width: 270px;
}

.block_404_500 {
  color: rgba(30, 30, 30, 1);
  font-family: Inter;
  text-align: center;
  letter-spacing: 0;
  line-height: px;
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
  a {
  color:rgba(51, 105, 243, 1);
  font-size:11px;
  }

}

