<form action="#" method="get">

    <div class="profile">

        {{> 'change-info/form/imageAvatar'}}

        {{> 'change-info/form/headerUserName'}}
        
        {{> 'change-info/form/components/email' }}
        
        {{> 'change-info/form/components/login' }}

        {{> 'change-info/form/components/secondName' }}

        {{> 'change-info/form/components/firstName' }}
  
        {{> 'change-info/form/components/phone' }}

        <br>

        {{> 'change-info/form/components/save' }} 


    </div>

</form>