<form action="#" method="get">

    <div class="profile">

        {{> 'change-pwd/form/imageAvatar'}}

        {{> 'change-pwd/form/headerUserName'}}
        
        {{> 'change-pwd/form/components/oldPassword' }}
        
        {{> 'change-pwd/form/components/newPassword' }}

        {{> 'change-pwd/form/components/newConfPassword' }}

        <br>

        {{> 'change-pwd/form/components/save' }} 


    </div>

</form>