{{!< layout}} 
<div class="profile_left_block">
    {{> 'profile/buttonBack'}}
</div>

<div class="profile_center_block">
        <div id="profile">
            {{> 'change-pwd/form/form'}}
        </div>

</div>