<ul>
    <li>
        <a href="./login.hbs">Login page</a>
    </li>
    <li>
        <a href="./registration.hbs">Registration page</a>
    </li>

    <li>
        <a href="./profile.hbs">Profile page</a>
    </li>
    <li>
        <a href="./404.hbs">404 page</a>
    </li>
    <li>
        <a href="./500.hbs">500 page</a>
    </li>
</ul>