{{!< logreg}} 

<div id="login">

    <div class="welcome_text">
        <h1><strong>Авторизуйтесь.</strong></h1>
    </div>

    <form action="#" method="get">

        <fieldset>

            <p><input type="text" required value="Username" placeholder="Username"></p>

            <p><input type="password" required value="Password" placeholder="Password"></p>

            <p><a href="#">Забыли пароль?</a></p>

            <p><input type="submit" value="Войти"></p>

        </fieldset>

    </form>
</div>