{{!< layoutMessanger}} 

<div class="messanger-body">
    <div class="messanger-header">
        <h1>header </h1>
    </div>
    <div class="messanger-content">
        <div class="messanger-chats">
            <ul>
                <li class="messanger-chat-item">
                    <div class="icon">1</div>
                    <div class="description">
                        <p class="text">Комната...</p>
                        <p class="text">Автор...</p>
                    </div>
                </li>
                <li class="messanger-chat-item">
                    <div class="icon">2</div>
                    <div class="description">
                        <p class="text">Комната...</p>
                        <p class="text">Автор...</p>
                    </div>
                </li>
                <li class="messanger-chat-item">
                    <div class="icon">3</div>
                    <div class="description">
                        <p class="text">Комната...</p>
                        <p class="text">Автор...</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="messanger-chats-messages">
            <div class="messanger-chats-messages-message">
                <h3>Сообщение....</h3>
                <p>Автор....</p>
                <p>01.01.2022</p>
            </div>
            <div class="messanger-chats-messages-message">
                <h3>Сообщение....</h3>
                <p>Автор....</p>
                <p>01.01.2022</p>
            </div>
            <div>
                <input class="input" placeholder="enter message ..." type="text" value="">
            </div>
        </div>

    </div>
</div>