{{!< layout}} 
<div id="registration">


    {{> 'registration/form/form'}}
    {{> 'registration/linkLogin'}}

    {{> 'registration/block/spanOr'}}
    {{> 'registration/block/blockRegFacebook'}}
    {{> 'registration/block/blockRegTwitter'}}

</div>